USE [master]
GO
/****** Object:  Database [ElectronicShopDB]    Script Date: 4/19/2026 11:30:24 PM ******/
CREATE DATABASE [ElectronicShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectronicShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElectronicShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectronicShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ElectronicShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectronicShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectronicShopDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportOrderDetails]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportOrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExportOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportOrders]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExportDate] [datetime] NULL,
	[Reason] [nvarchar](100) NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportOrderDetails]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportOrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportOrders]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[ImportDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Price] [decimal](15, 2) NOT NULL,
	[Quantity] [int] NULL,
	[MinStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleOrderDetails]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleOrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleOrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleOrders]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerPhone] [nvarchar](20) NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](15, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[QuantityChanged] [int] NOT NULL,
	[QuantityAfter] [int] NOT NULL,
	[MovedAt] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/19/2026 11:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (1, N'Điện thoại', N'Smartphone các loại')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (2, N'Laptop', N'Máy tính xách tay')
INSERT [dbo].[Categories] ([Id], [Name], [Description]) VALUES (3, N'Tai nghe', N'Tai nghe có dây và không dây')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [SKU], [Name], [CategoryId], [SupplierId], [Price], [Quantity], [MinStock]) VALUES (1, N'IP15P-256', N'iPhone 15 Pro 256GB', 1, 1, CAST(28000000.00 AS Decimal(15, 2)), 10, 3)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [CategoryId], [SupplierId], [Price], [Quantity], [MinStock]) VALUES (2, N'SGS24U', N'Samsung Galaxy S24 Ultra', 1, 2, CAST(25000000.00 AS Decimal(15, 2)), 7, 3)
INSERT [dbo].[Products] ([Id], [SKU], [Name], [CategoryId], [SupplierId], [Price], [Quantity], [MinStock]) VALUES (3, N'DELL-XPS15', N'Laptop Dell XPS 15', 2, 2, CAST(35000000.00 AS Decimal(15, 2)), 4, 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleOrderDetails] ON 

INSERT [dbo].[SaleOrderDetails] ([Id], [SaleOrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 3, 1, CAST(35000000.00 AS Decimal(15, 2)))
INSERT [dbo].[SaleOrderDetails] ([Id], [SaleOrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (2, 1, 2, 1, CAST(25000000.00 AS Decimal(15, 2)))
INSERT [dbo].[SaleOrderDetails] ([Id], [SaleOrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (1002, 2, 5, 1, CAST(22000000.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[SaleOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SaleOrders] ON 

INSERT [dbo].[SaleOrders] ([Id], [CustomerName], [CustomerPhone], [OrderDate], [TotalAmount], [Status]) VALUES (1, N'test1', N'123', CAST(N'2026-04-18T14:21:31.630' AS DateTime), CAST(60000000.00 AS Decimal(15, 2)), N'Completed')
INSERT [dbo].[SaleOrders] ([Id], [CustomerName], [CustomerPhone], [OrderDate], [TotalAmount], [Status]) VALUES (2, N'abc', N'1223', CAST(N'2026-04-19T09:26:36.450' AS DateTime), CAST(22000000.00 AS Decimal(15, 2)), N'Completed')
SET IDENTITY_INSERT [dbo].[SaleOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[StockMovements] ON 

INSERT [dbo].[StockMovements] ([Id], [ProductId], [UserId], [Type], [QuantityChanged], [QuantityAfter], [MovedAt], [Note]) VALUES (1, 3, 1, N'EXPORT', -1, 4, CAST(N'2026-04-18T14:21:31.660' AS DateTime), N'Bán hàng - Đơn #1')
INSERT [dbo].[StockMovements] ([Id], [ProductId], [UserId], [Type], [QuantityChanged], [QuantityAfter], [MovedAt], [Note]) VALUES (2, 2, 1, N'EXPORT', -1, 7, CAST(N'2026-04-18T14:21:31.663' AS DateTime), N'Bán hàng - Đơn #1')
INSERT [dbo].[StockMovements] ([Id], [ProductId], [UserId], [Type], [QuantityChanged], [QuantityAfter], [MovedAt], [Note]) VALUES (1002, 5, 1, N'EXPORT', -1, 11, CAST(N'2026-04-19T09:26:36.463' AS DateTime), N'Bán hàng - Đơn #2')
SET IDENTITY_INSERT [dbo].[StockMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [Phone], [Email], [Address]) VALUES (1, N'Apple Vietnam', N'02812345678', N'apple@vn.com', N'Hồ Chí Minh')
INSERT [dbo].[Suppliers] ([Id], [Name], [Phone], [Email], [Address]) VALUES (2, N'Samsung Vietnam', N'02887654321', N'samsung@vn.com', N'Hà Nội')
INSERT [dbo].[Suppliers] ([Id], [Name], [Phone], [Email], [Address]) VALUES (3, N'Sony Vietnam', N'02811223344', N'sony@vn.com', N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Role], [CreatedAt]) VALUES (1, N'Super Admin', N'admin1@gmail.com', N'admin123', N'super', CAST(N'2026-04-17T11:19:54.367' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Role], [CreatedAt]) VALUES (2, N'Normal Admin', N'admin2@gmail.com', N'admin345', N'normal', CAST(N'2026-04-17T11:19:54.367' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Role], [CreatedAt]) VALUES (3, N'Nhân viên kho', N'staff1@gmail.com', N'staff123', N'staff', CAST(N'2026-04-17T11:19:54.367' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__CA1ECF0DB56447F8]    Script Date: 4/19/2026 11:30:25 PM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534FF94BCB0]    Script Date: 4/19/2026 11:30:25 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExportOrders] ADD  DEFAULT (getdate()) FOR [ExportDate]
GO
ALTER TABLE [dbo].[ImportOrders] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((5)) FOR [MinStock]
GO
ALTER TABLE [dbo].[SaleOrders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[SaleOrders] ADD  DEFAULT (N'Completed') FOR [Status]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (getdate()) FOR [MovedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('staff') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExportOrderDetails]  WITH CHECK ADD FOREIGN KEY([ExportOrderId])
REFERENCES [dbo].[ExportOrders] ([Id])
GO
ALTER TABLE [dbo].[ExportOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ExportOrders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ImportOrderDetails]  WITH CHECK ADD FOREIGN KEY([ImportOrderId])
REFERENCES [dbo].[ImportOrders] ([Id])
GO
ALTER TABLE [dbo].[ImportOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ImportOrders]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[ImportOrders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[SaleOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SaleOrderDetails]  WITH CHECK ADD FOREIGN KEY([SaleOrderId])
REFERENCES [dbo].[SaleOrders] ([Id])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
USE [master]
GO
